includes:
    - vendor/pestphp/pest-plugin-phpstan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    paths:
        - public
        - src
        - tests
    tmpDir: storage/cache/phpstan
    checkUninitializedProperties: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
